Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

Upgrade Magento to with PHP 8.4
  .php-cs-fixer.dist.php
  CHANGELOG.md
  bin/magento
  composer.lock
  phpserver/router.php
  pub/cron.php
  pub/health_check.php
  setup/index.php
Labels: module, php

chore(workflow): Add version variable and gh token
  .github/workflows/upgrade.yml
Labels: workflow

chore(workflow): Add version variable and gh token (#336)
  .github/workflows/upgrade.yml
Labels: workflow

chore(workflow): Upgrading all to the latest version
  .github/workflows/upgrade.yml
Labels: workflow

chore(workflow): Upgrading all to the latest version (#337)
  .github/workflows/upgrade.yml
Labels: workflow

chore(workflow): Use corect version variable per steps
  .github/workflows/upgrade.yml
Labels: workflow

chore(workflow): Use corect version variable per steps (#338)
  .github/workflows/upgrade.yml
Labels: workflow

Upgrade to 2.4.8-p1 with PHP 8.4
  .php-cs-fixer.dist.php
  CHANGELOG.md
  bin/magento
  composer.lock
  phpserver/router.php
  pub/cron.php
  pub/health_check.php
  setup/index.php
Labels: module, php

chore(workflow): Use WEBSITE_URL variable in all workflows
  .github/workflows/pagespeed.yml
Labels: workflow

chore(workflow): Use WEBSITE_URL variable in all workflows (#341)
  .github/workflows/pagespeed.yml
Labels: workflow

chore(workflow): Add php version setup step
  .github/workflows/composer_outdated.yml
Labels: workflow

chore(workflow): Add php version setup step (#346)
  .github/workflows/composer_outdated.yml
Labels: workflow

chore: Remove failure parameter for zap action
  .github/workflows/zap_scan.yml
Labels: workflow

chore: Remove failure parameter for zap action (#347)
  .github/workflows/zap_scan.yml
Labels: workflow

chore(workflow): Correct steps and add magento update
  .github/actions/composer-diff/action.yml
Labels: workflow

chore(workflow): Correct steps and add magento update (#348)
  .github/actions/composer-diff/action.yml
Labels: workflow

chore(workflow): Add php version setup and update vs install
  .github/workflows/composer_require.yml
Labels: workflow

chore(workflow): Add php version setup and update vs install (#349)
  .github/workflows/composer_require.yml
Labels: workflow

chore(workflow): Do not validate dependabot pr title
  .github/workflows/pr_title_validate.yml
Labels: workflow

chore(workflow): Do not validate dependabot pr title (#350)
  .github/workflows/pr_title_validate.yml
Labels: workflow

chore(workflow): Upgrade GitHub Actions and modify artifact handling
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Upgrade GitHub Actions and modify artifact handling (#359)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Refactor release workflow to use latest artifact
  .github/workflows/release_artifact.yml
Labels: workflow

chore: Fix artifact URL reference in release workflow
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Refactor release workflow to use latest artifact (#360)
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Replace asset download with artifact download step
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Replace asset download with artifact download step (#361)
  .github/workflows/deploy.yml
Labels: workflow

fix: Add PHP Coding Standards fixer configuration comment
  .php-cs-fixer.dist.php
Labels: php

fix: Add PHP Coding Standards fixer configuration comment (#362)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.4
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.4 (#363)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Fix artifact naming and upload settings in build.yml
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Fix artifact naming and upload settings (#365)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Improve release artifact link formatting
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Improve release artifact link formatting (#366)
  .github/workflows/build.yml
Labels: workflow

fix: Remove empty line in PHP CS Fixer config
  .php-cs-fixer.dist.php
Labels: php

fix: Remove empty line in PHP CS Fixer config (#367)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.5
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.5 (#368)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'
