Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'

chore(workflow): Add more options to sdc workflow
  .github/actions/setup-di-compile/action.yml
Labels: workflow

chore(workflow): Update sdc with more options
  .github/workflows/build.yml
Labels: workflow

Update build.yml
  .github/workflows/build.yml
Labels: workflow

Update action.yml
  .github/actions/setup-di-compile/action.yml
Labels: workflow

Update composer_require.yml
  .github/workflows/composer_require.yml
Labels: workflow

Update build.yml
  .github/workflows/build.yml
Labels: workflow

Update composer_outdated.yml
  .github/workflows/composer_outdated.yml
Labels: workflow

Update config.json
  .github/release/config.json
Labels: workflow, json

feat: Add simple google psi action
  .github/actions/pagespeed/action.yml
Labels: workflow

feat: Add psi config script for github action
  .github/actions/pagespeed/psi.js
Labels: workflow, javascript

fix: Update psi action key variable
  .github/actions/pagespeed/action.yml
Labels: workflow

chore(workflow): Create pagespeed test workflow
  .github/workflows/pagespeed.yml
Labels: workflow

fix: Use correct output format for markdown
  .github/actions/pagespeed/psi.js
Labels: workflow, javascript

chore(workflow): PSI use correct steps for action
  .github/workflows/pagespeed.yml
Labels: workflow

fix: Use new crux api for complete data
  .github/actions/pagespeed/psi.js
Labels: workflow, javascript

chore(workflow): Use crux api for extended report
  .github/actions/pagespeed/action.yml
Labels: workflow

chore(workflow): Use crux api key for extended report
  .github/workflows/pagespeed.yml
Labels: workflow

Update psi.js
  .github/actions/pagespeed/psi.js
Labels: workflow, javascript

Update action.yml
  .github/actions/pagespeed/action.yml
Labels: workflow

fix: Lets get all PSI categories
  .github/actions/pagespeed/psi.js
Labels: workflow, javascript

chore(readme): Add more information about workflow
  README.md
Labels: none

chore(main): magenxcloud 23.1.0-alpha
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 23.1.0-alpha (#279)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 23.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

fix: Use correct step names in status comment
  .github/workflows/build.yml
Labels: workflow

fix: Update file to test settings
  .php-cs-fixer.dist.php
Labels: php

fix: Update file to test settings (#282)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 23.1.0-alpha.1
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 23.1.0-alpha.1 (#283)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 23.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Use some default step for outputs
  .github/actions/setup-di-compile/action.yml
Labels: workflow

chore(workflow): Correct steps in pr comment
  .github/workflows/build.yml
Labels: workflow

fix: Test update php file to trigger
  .php-cs-fixer.dist.php
Labels: php

fix: Test update php file to trigger (#285)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 23.1.0-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 23.1.0-alpha.2 (#286)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 23.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Use action status step always
  .github/actions/setup-di-compile/action.yml
Labels: workflow

feat!: Update file to test settings
  .php-cs-fixer.dist.php
Labels: php

feat!: Update file to test settings (#288)
  .php-cs-fixer.dist.php
Labels: php
