Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, release-please: config, git, module, composer, theme: magento admin, theme: magento frontend, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

.github/labeler.yml:

actions:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/actions/**'

'release-please: config':
- changed-files:
  - any-glob-to-any-file:
    - '.github/release/*.json'

git:
- changed-files:
  - any-glob-to-any-file:
    - '.editorconfig'
    - '.gitignore'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

composer:
- changed-files:
  - any-glob-to-any-file:
    - 'composer.json'
    - 'composer.lock'

'custom theme':
- all:
  - changed-files:
    - any-glob-to-any-file: 'app/design/frontend/**/*'
    - all-globs-to-all-files: '!app/design/frontend/Magento/**'

'theme: magento admin':
- changed-files:
  - any-glob-to-any-file:
    - 'app/design/adminhtml/Magento/**'

'theme: magento frontend':
- changed-files:
  - any-glob-to-any-file:
    - 'app/design/frontend/Magento/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'

chore(main): magenxcloud 24.0.1-alpha.9
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 24.0.1-alpha.9 (#390)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(workflow): Refactor composer outdated package check
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Refactor composer outdated package check (#392)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Add COMPOSER_AUTH environment variable for checks
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Add COMPOSER_AUTH environment variable for checks (#393)
  .github/workflows/composer_outdated.yml
Labels: actions

feat!: Update Magento and Stripe package versions
  composer.json
Labels: module, composer, json

chore(workflow): Enable check for outdated composer packages
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Enable check for outdated composer packages (#396)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix artifact URL in release workflow
  .github/workflows/release_artifact.yml
Labels: actions

chore(workflow): Fix artifact URL and filename
  .github/workflows/build.yml
Labels: actions

chore(workflow): Fix artifact URL and filename (#398)
  .github/workflows/build.yml
Labels: actions

chore(workflow): Fix artifact URL in release workflow (#397)
  .github/workflows/release_artifact.yml
Labels: actions

chore: Update Magento product version to 2.4.8-p1
  composer.json
Labels: module, composer, json

chore: Add and remove package replacements in composer
  composer.json
Labels: module, composer, json

chore(composer): Update composer.lock to match composer.json
  composer.lock
Labels: module, composer

chore(workflow): Integrate GitHub Copilot CLI for composer analysis
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Integrate GitHub Copilot CLI for composer analysis (#399)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Update Node action version and copilot command
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Update Node action version and copilot command (#400)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Update setup node action version comment
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Update setup node action version comment (#401)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Refactor command for composer outdated issue creation
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Refactor command for composer outdated issue creation (#402)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Modify copilot command in composer outdated
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Modify copilot command in composer outdated (#403)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Update GitHub token for Copilot analysis
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Update GitHub token for Copilot analysis (#404)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix environment variable name for GitHub Copilot
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix environment variable name for GitHub Copilot (#405)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix syntax for COPILOT_GITHUB_TOKEN in workflow
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix syntax for COPILOT_GITHUB_TOKEN in workflow (#406)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Refactor copilot command for composer outdated check
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Refactor copilot command for composer outdated check (#407)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix command syntax in composer_outdated.yml
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Fix command syntax in composer outdated (#408)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Simplify copilot command in workflow file
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Simplify copilot command in workflow file (#409)
  .github/workflows/composer_outdated.yml
Labels: actions

chore(workflow): Refactor composer outdated workflow to manage issues
  .github/workflows/composer_outdated.yml
Labels: actions
