Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'

chore(workflow): Refactor composer outdated workflow to manage issues (#410)
  .github/workflows/composer_outdated.yml
Labels: workflow

chore(workflow): Update issue handling in composer outdated workflow
  .github/workflows/composer_outdated.yml
Labels: workflow

chore(workflow): Update issue handling in composer outdated workflow (#411)
  .github/workflows/composer_outdated.yml
Labels: workflow

chore(workflow): Refactor composer outdated issue management logic
  .github/workflows/composer_outdated.yml
Labels: workflow

chore(workflow): Refactor composer outdated issue management logic (#412)
  .github/workflows/composer_outdated.yml
Labels: workflow

chore(workflow): Enhance deployment workflow for production issues
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Enhance deployment workflow for production issues (#414)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update deployment workflow for production environment
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update deployment workflow for production environment (#415)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Upgrade git auto commit action
  .github/workflows/composer_require.yml
Labels: workflow

chore(workflow): Upgrade git auto commit action (#416)
  .github/workflows/composer_require.yml
Labels: workflow

chore(workflow): Update release please action
  .github/workflows/release.yml
Labels: workflow

chore(workflow): Update release please action latest (#417)
  .github/workflows/release.yml
Labels: workflow

chore(workflow): Rename and upload release build artifact
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Update workflow names for clarity
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Add input for release tag name in workflow
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Rename and upload release build artifact (#419)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Update condition for attach artifact job
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Update workflow names for clarity (#420)
  .github/workflows/release_artifact.yml
Labels: workflow

fix: Add PHP Coding Standards fixer configuration comment
  .php-cs-fixer.dist.php
Labels: php

fix: Add PHP Coding Standards fixer configuration comment (#421)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.10
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.10 (#422)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1 (#423)
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Fix jq filter for artifact selection in workflow
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Fix jq filter for artifact selection in workflow (#424)
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Refactor artifact logging in release workflow
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Refactor artifact logging in release workflow (#425)
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Update AWS S3 credentials configuration
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update AWS S3 credentials configuration (#426)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update AWS credentials configuration in deploy
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update AWS credentials configuration in deploy (#427)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update permissions in deploy workflow
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update permissions in deploy workflow (#428)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Fix echo command for deployment status output
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Fix echo command for deployment status output (#430)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update deploy for AWS and Hetzner configurations
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update deploy for AWS and Hetzner configurations (#432)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Refactor AWS credentials configuration in deploy
  .github/workflows/deploy.yml
Labels: workflow
