Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'

chore(workflow): Using parameters for security scan (#310)
  .github/workflows/build.yml
Labels: workflow

fix: Lets kick this snowpiercer too toooo part two
  .php-cs-fixer.dist.php
Labels: php

fix: Lets kick this snowpiercer too toooo part two (#311)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.1
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.1 (#312)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

fix: Lets kick this snowpiercer too toooo part
  .php-cs-fixer.dist.php
Labels: php

fix: Lets kick this snowpiercer too toooo part (#314)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.2 (#315)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Use temp log and stdout for security
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Use temp log and stdout for security (#317)
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Make sure aws auth works for hetzner
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Make sure aws auth works for hetzner (#318)
  .github/workflows/deploy.yml
Labels: workflow

fix: Update magenx cicd release yml
  .php-cs-fixer.dist.php
Labels: php

fix: Update magenx cicd release yml (#319)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.3
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.3 (#320)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Add new line at the end of log
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Add new line at the end of log (#322)
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Create zap security scan workflow
  .github/workflows/zap_scan.yml
Labels: workflow

chore(workflow): Create zap security scan workflow (#324)
  .github/workflows/zap_scan.yml
Labels: workflow

chore(workflow): Create bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: workflow

chore(workflow): Create bug report issue template (#328)
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: workflow

chore(workflow): Create feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: workflow

chore(workflow): Create feature request issue template (#329)
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: workflow

chore(workflow): Update feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: workflow

chore(workflow): Update feature request issue template (#330)
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: workflow

chore(workflow): Create basic issue config file
  .github/ISSUE_TEMPLATE/config.yml
Labels: workflow

chore(workflow): Create basic issue config file (#331)
  .github/ISSUE_TEMPLATE/config.yml
Labels: workflow

chore(workflow): Create copilot instructions for pr review
  .github/copilot-instructions.md
Labels: workflow

chore(workflow): Update copilot instructions to php
  .github/copilot-instructions.md
Labels: workflow

chore(workflow): Create copilot instructions for pr review (#332)
  .github/copilot-instructions.md
Labels: workflow

chore(workflow): Update copilot instructions for php and magento
  .github/copilot-instructions.md
Labels: workflow

chore(workflow): Update copilot instructions with copilot suggestions
  .github/copilot-instructions.md
Labels: workflow

chore(workflow): Update copilot instructions for php and magento (#333)
  .github/copilot-instructions.md
Labels: workflow

chore(workflow): Update upgrade.yml use php git config
  .github/workflows/upgrade.yml
Labels: workflow

chore(workflow): Update upgrade.yml use php git config (#335)
  .github/workflows/upgrade.yml
Labels: workflow
