Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

chore(main): magenxcloud 24.0.0-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0-alpha.2 (#289)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Use corect step ids in output
  .github/actions/setup-di-compile/action.yml
Labels: workflow

fix: Test update php file to trigger
  .php-cs-fixer.dist.php
Labels: php

fix: Test update php file to trigger (#291)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.0-alpha.3
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0-alpha.3 (#292)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Correct steps names kokoko lol
  .github/workflows/build.yml
Labels: workflow

fix: Test update php file to trigger
  .php-cs-fixer.dist.php
Labels: php

fix: Test update php file to trigger (#294)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.0-alpha.4
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0-alpha.4 (#295)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Use corect step ids in output
  .github/actions/setup-di-compile/action.yml
Labels: workflow

fix: Test update php file to trigger
  .php-cs-fixer.dist.php
Labels: php

fix: Test update php file to trigger (#297)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.0-alpha.5
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0-alpha.5 (#298)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

fix: Remove composer suggest warning
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Remove duplicate repository variable
  .github/workflows/release_artifact.yml
Labels: workflow

chore(main): magenxcloud 24.0.0 (#299)
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Using aws action for iodc
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Using aws action for iodc (#302)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Use simple security scan action
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Reorder action steps for better reading
  .github/actions/setup-di-compile/action.yml
Labels: workflow

chore(workflow): Use simple security scan action (#303)
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Reorder action steps for better reading (#304)
  .github/actions/setup-di-compile/action.yml
Labels: workflow

chore(workflow): Security scan action in complete build
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Security scan action in complete build (#305)
  .github/workflows/build.yml
Labels: workflow

fix: Lets kick this snowpiercer too toooo
  .php-cs-fixer.dist.php
Labels: php

fix: Lets kick this snowpiercer too toooo (#306)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha (#307)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Use secret key and shell
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Use secret key and shell (#309)
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Using parameters for security scan
  .github/workflows/build.yml
Labels: workflow

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'
