Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, release-please: config, git, module, composer, theme: magento admin, theme: magento frontend, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

chore(workflow): Add more options to sdc workflow
  .github/actions/setup-di-compile/action.yml
Labels: actions

chore(workflow): Update sdc with more options
  .github/workflows/build.yml
Labels: actions

Update build.yml
  .github/workflows/build.yml
Labels: actions

Update action.yml
  .github/actions/setup-di-compile/action.yml
Labels: actions

Update composer_require.yml
  .github/workflows/composer_require.yml
Labels: actions

Update build.yml
  .github/workflows/build.yml
Labels: actions

Update composer_outdated.yml
  .github/workflows/composer_outdated.yml
Labels: actions

Update config.json
  .github/release/config.json
Labels: release-please: config, json

feat: Add simple google psi action
  .github/actions/pagespeed/action.yml
Labels: actions

feat: Add psi config script for github action
  .github/actions/pagespeed/psi.js
Labels: actions, javascript

fix: Update psi action key variable
  .github/actions/pagespeed/action.yml
Labels: actions

chore(workflow): Create pagespeed test workflow
  .github/workflows/pagespeed.yml
Labels: actions

fix: Use correct output format for markdown
  .github/actions/pagespeed/psi.js
Labels: actions, javascript

chore(workflow): PSI use correct steps for action
  .github/workflows/pagespeed.yml
Labels: actions

fix: Use new crux api for complete data
  .github/actions/pagespeed/psi.js
Labels: actions, javascript

chore(workflow): Use crux api for extended report
  .github/actions/pagespeed/action.yml
Labels: actions

chore(workflow): Use crux api key for extended report
  .github/workflows/pagespeed.yml
Labels: actions

Update psi.js
  .github/actions/pagespeed/psi.js
Labels: actions, javascript

Update action.yml
  .github/actions/pagespeed/action.yml
Labels: actions

fix: Lets get all PSI categories
  .github/actions/pagespeed/psi.js
Labels: actions, javascript

chore(readme): Add more information about workflow
  README.md
Labels: none

chore(main): magenxcloud 23.1.0-alpha
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 23.1.0-alpha (#279)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 23.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

fix: Use correct step names in status comment
  .github/workflows/build.yml
Labels: actions

fix: Update file to test settings
  .php-cs-fixer.dist.php
Labels: php

fix: Update file to test settings (#282)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 23.1.0-alpha.1
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 23.1.0-alpha.1 (#283)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 23.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(workflow): Use some default step for outputs
  .github/actions/setup-di-compile/action.yml
Labels: actions

chore(workflow): Correct steps in pr comment
  .github/workflows/build.yml
Labels: actions

fix: Test update php file to trigger
  .php-cs-fixer.dist.php
Labels: php

fix: Test update php file to trigger (#285)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 23.1.0-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 23.1.0-alpha.2 (#286)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 23.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(workflow): Use action status step always
  .github/actions/setup-di-compile/action.yml
Labels: actions

feat!: Update file to test settings
  .php-cs-fixer.dist.php
Labels: php

feat!: Update file to test settings (#288)
  .php-cs-fixer.dist.php
Labels: php

.github/labeler.yml:

actions:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/actions/**'

'release-please: config':
- changed-files:
  - any-glob-to-any-file:
    - '.github/release/*.json'

git:
- changed-files:
  - any-glob-to-any-file:
    - '.editorconfig'
    - '.gitignore'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

composer:
- changed-files:
  - any-glob-to-any-file:
    - 'composer.json'
    - 'composer.lock'

'custom theme':
- all:
  - changed-files:
    - any-glob-to-any-file: 'app/design/frontend/**/*'
    - all-globs-to-all-files: '!app/design/frontend/Magento/**'

'theme: magento admin':
- changed-files:
  - any-glob-to-any-file:
    - 'app/design/adminhtml/Magento/**'

'theme: magento frontend':
- changed-files:
  - any-glob-to-any-file:
    - 'app/design/frontend/Magento/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'
