Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

chore(workflow): Refactor AWS credentials configuration in deploy (#434)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update deployment status messages in workflow
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update deployment status messages in workflow (#437)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Change pre release type to variable
  .github/workflows/release.yml
Labels: workflow

chore(workflow): Change pre release type to variable (#438)
  .github/workflows/release.yml
Labels: workflow

chore(workflow): Update PR search criteria in deploy workflow
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Update PR search criteria in deploy workflow (#439)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Use variable for PRELELEASE_TYPE in build
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Use variable for PRELELEASE_TYPE in build (#440)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Add PRERELEASE_TYPE environment variable to deploy
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Add PRERELEASE_TYPE environment variable to deploy (#441)
  .github/workflows/deploy.yml
Labels: workflow

fix: Remove unnecessary whitespace in configuration file
  .php-cs-fixer.dist.php
Labels: php

fix: Remove unnecessary whitespace in configuration file (#442)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.2-alpha
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.2-alpha (#443)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.2
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.2 (#444)
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Fix artifact name format in build workflow
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Fix artifact name format in build workflow (#446)
  .github/workflows/build.yml
Labels: workflow

fix: Add PHP Coding Standards fixer configuration comment
  .php-cs-fixer.dist.php
Labels: php

fix: Add PHP Coding Standards fixer configuration comment (#447)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.3-alpha
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.3-alpha (#448)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.3
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.3 (#449)
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Add security scan results summary step
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Add security scan results summary step (#451)
  .github/workflows/build.yml
Labels: workflow

fix: Remove redundant line in PHP CS Fixer config
  .php-cs-fixer.dist.php
Labels: php

fix: Remove redundant line in PHP CS Fixer config (#452)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.4-alpha
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.4-alpha (#453)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.4
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Add output log to security scan action
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Add output log to security scan action (#455)
  .github/actions/security-scan/action.yml
Labels: workflow

fix: Add PHP Coding Standards fixer configuration comment
  .php-cs-fixer.dist.php
Labels: php

fix: Add PHP Coding Standards fixer configuration comment (#456)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.4-alpha.1
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.4-alpha.1 (#457)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.4
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Fix output reference in security scan action
  .github/actions/security-scan/action.yml
Labels: workflow

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'
