Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, release-please: config, git, module, composer, theme: magento admin, theme: magento frontend, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

.github/labeler.yml:

actions:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/actions/**'

'release-please: config':
- changed-files:
  - any-glob-to-any-file:
    - '.github/release/*.json'

git:
- changed-files:
  - any-glob-to-any-file:
    - '.editorconfig'
    - '.gitignore'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

composer:
- changed-files:
  - any-glob-to-any-file:
    - 'composer.json'
    - 'composer.lock'

'custom theme':
- all:
  - changed-files:
    - any-glob-to-any-file: 'app/design/frontend/**/*'
    - all-globs-to-all-files: '!app/design/frontend/Magento/**'

'theme: magento admin':
- changed-files:
  - any-glob-to-any-file:
    - 'app/design/adminhtml/Magento/**'

'theme: magento frontend':
- changed-files:
  - any-glob-to-any-file:
    - 'app/design/frontend/Magento/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'

chore(workflow): Fix output reference in security scan action (#459)
  .github/actions/security-scan/action.yml
Labels: actions

fix: Remove unnecessary whitespace in configuration file
  .php-cs-fixer.dist.php
Labels: php

fix: Remove unnecessary whitespace in configuration file (#460)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.4-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 24.0.4-alpha.2 (#461)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 24.0.4
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(workflow): Update security scan step to upload results as artifact
  .github/workflows/build.yml
Labels: actions

chore(workflow): Update security scan step to upload results as artifact (#463)
  .github/workflows/build.yml
Labels: actions

chore(workflow): Add security scan actions to build workflow
  .github/workflows/build.yml
Labels: actions

chore(workflow): Remove verbose flag from ecomscan command
  .github/actions/security-scan/action.yml
Labels: actions

chore(workflow): Remove verbose flag from ecomscan command (#465)
  .github/actions/security-scan/action.yml
Labels: actions

chore(workflow): Add security scan actions to build workflow (#464)
  .github/workflows/build.yml
Labels: actions

ci: Delete .github/workflows/phpcsfixer.yml
  .github/workflows/phpcsfixer.yml
Labels: actions

ci: Add pull request type for PHP changes review
  .github/workflows/php_changes_review.yml
  .github/workflows/phpcsfixer.yml
Labels: actions

ci: Add pull request type for PHP changes review (#490)
  .github/workflows/php_changes_review.yml
  .github/workflows/phpcsfixer.yml
Labels: actions

ci: Refactor GitHub Actions for composer updates
  .github/workflows/composer_require.yml
Labels: actions

ci: Refactor GitHub Actions for composer updates (#491)
  .github/workflows/composer_require.yml
Labels: actions

ci: Use variable for PHP version in upgrade workflow
  .github/workflows/upgrade.yml
Labels: actions

ci: Use variable for PHP version in upgrade workflow (#492)
  .github/workflows/upgrade.yml
Labels: actions

feat: Update Magento product version to 2.4.8-p4
  composer.json
Labels: module, composer, json

chore: Add and remove dependencies in composer.json
  composer.json
Labels: module, composer, json

feat: Update Magento product version to 2.4.8-p4 (#493)
  app/etc/config.php
  composer.json
  composer.lock
Labels: module, composer, json, php, config.php

chore(main): magenxcloud 24.1.0-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 24.1.0-alpha.2 (#462)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

chore(main): magenxcloud 24.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: release-please: config, json

ci: Refactor security scan handling in build workflow
  .github/workflows/build.yml
Labels: actions

ci: Refactor security scan handling in build workflow (#495)
  .github/workflows/build.yml
Labels: actions

fix: Fix HTML structure in error handling output
  pub/index.php
Labels: php

ci: Modify Copilot review request in workflow
  .github/workflows/php_changes_review.yml
Labels: actions

ci: Modify Copilot review request in workflow (#497)
  .github/workflows/php_changes_review.yml
Labels: actions

fix: Fix indentation in autoload error handling
  setup/index.php
Labels: php

ci: Modify GitHub Actions to enhance Copilot review request
  .github/workflows/php_changes_review.yml
Labels: actions

ci: Modify GitHub Actions to enhance Copilot review request (#499)
  .github/workflows/php_changes_review.yml
Labels: actions

fix: Fix HTML structure in autoload error handling
  setup/index.php
Labels: php

ci: Refactor Copilot review workflow for PHP changes
  .github/workflows/php_changes_review.yml
Labels: actions

ci: Refactor Copilot review workflow for PHP changes (#501)
  .github/workflows/php_changes_review.yml
Labels: actions

fix: Fix syntax errors in index.php
  setup/index.php
Labels: php

ci: Refactor Copilot review request in workflow
  .github/workflows/php_changes_review.yml
Labels: actions

ci: Refactor Copilot review request in workflow (#503)
  .github/workflows/php_changes_review.yml
Labels: actions

fix: Fix syntax errors in index.php
  setup/index.php
Labels: php
