Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

chore(workflow): Fix output reference in security scan action (#459)
  .github/actions/security-scan/action.yml
Labels: workflow

fix: Remove unnecessary whitespace in configuration file
  .php-cs-fixer.dist.php
Labels: php

fix: Remove unnecessary whitespace in configuration file (#460)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.4-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.4-alpha.2 (#461)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.4
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Update security scan step to upload results as artifact
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Update security scan step to upload results as artifact (#463)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Add security scan actions to build workflow
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Remove verbose flag from ecomscan command
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Remove verbose flag from ecomscan command (#465)
  .github/actions/security-scan/action.yml
Labels: workflow

chore(workflow): Add security scan actions to build workflow (#464)
  .github/workflows/build.yml
Labels: workflow

ci: Delete .github/workflows/phpcsfixer.yml
  .github/workflows/phpcsfixer.yml
Labels: workflow

ci: Add pull request type for PHP changes review
  .github/workflows/php_changes_review.yml
  .github/workflows/phpcsfixer.yml
Labels: workflow

ci: Add pull request type for PHP changes review (#490)
  .github/workflows/php_changes_review.yml
  .github/workflows/phpcsfixer.yml
Labels: workflow

ci: Refactor GitHub Actions for composer updates
  .github/workflows/composer_require.yml
Labels: workflow

ci: Refactor GitHub Actions for composer updates (#491)
  .github/workflows/composer_require.yml
Labels: workflow

ci: Use variable for PHP version in upgrade workflow
  .github/workflows/upgrade.yml
Labels: workflow

ci: Use variable for PHP version in upgrade workflow (#492)
  .github/workflows/upgrade.yml
Labels: workflow

feat: Update Magento product version to 2.4.8-p4
  composer.json
Labels: module, json

chore: Add and remove dependencies in composer.json
  composer.json
Labels: module, json

feat: Update Magento product version to 2.4.8-p4 (#493)
  app/etc/config.php
  composer.json
  composer.lock
Labels: module, json, php, config.php

chore(main): magenxcloud 24.1.0-alpha.2
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.1.0-alpha.2 (#462)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.1.0
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

ci: Refactor security scan handling in build workflow
  .github/workflows/build.yml
Labels: workflow

ci: Refactor security scan handling in build workflow (#495)
  .github/workflows/build.yml
Labels: workflow

fix: Fix HTML structure in error handling output
  pub/index.php
Labels: php

ci: Modify Copilot review request in workflow
  .github/workflows/php_changes_review.yml
Labels: workflow

ci: Modify Copilot review request in workflow (#497)
  .github/workflows/php_changes_review.yml
Labels: workflow

fix: Fix indentation in autoload error handling
  setup/index.php
Labels: php

ci: Modify GitHub Actions to enhance Copilot review request
  .github/workflows/php_changes_review.yml
Labels: workflow

ci: Modify GitHub Actions to enhance Copilot review request (#499)
  .github/workflows/php_changes_review.yml
Labels: workflow

fix: Fix HTML structure in autoload error handling
  setup/index.php
Labels: php

ci: Refactor Copilot review workflow for PHP changes
  .github/workflows/php_changes_review.yml
Labels: workflow

ci: Refactor Copilot review workflow for PHP changes (#501)
  .github/workflows/php_changes_review.yml
Labels: workflow

fix: Fix syntax errors in index.php
  setup/index.php
Labels: php

ci: Refactor Copilot review request in workflow
  .github/workflows/php_changes_review.yml
Labels: workflow

ci: Refactor Copilot review request in workflow (#503)
  .github/workflows/php_changes_review.yml
Labels: workflow

fix: Fix syntax errors in index.php
  setup/index.php
Labels: php

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'
