Repository magenx/Magento-2-deployment-pipeline, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, module, theme, javascript, css, less, xml, csv, json, phtml, php, config.php, env.php, di.xml

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Format release artifact link in workflow
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Rename workflow step for triggering release
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Format release artifact link in workflow (#370)
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Rename workflow step for triggering release (#371)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Fix artifact pattern in release workflow
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Fix artifact pattern in release workflow (#372)
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Rename workflow for clarity on artifact release
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Rename workflow for clarity on artifact release (#373)
  .github/workflows/release_artifact.yml
Labels: workflow

chore(workflow): Package build artifact into tar archive
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Fix artifact name handling in build workflow
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Package build artifact into tar archive (#374)
  .github/workflows/build.yml
Labels: workflow

fix: Add PHP Coding Standards fixer configuration comment
  .php-cs-fixer.dist.php
Labels: php

fix: Add PHP Coding Standards fixer configuration comment (#375)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.6
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.6 (#376)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Fix artifact_run_id syntax in action
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Update comment for artifact creation in build workflow
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Fix artifact_run_id syntax in action (#378)
  .github/workflows/build.yml
Labels: workflow

chore(workflow): Fix artifact path and update deployment comment
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Fix artifact path and update deployment comment (#379)
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Rename AWS credentials step and simplify status logging
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Rename AWS credentials step and simplify status logging (#380)
  .github/workflows/deploy.yml
Labels: workflow

fix: Remove unnecessary whitespace in configuration file
  .php-cs-fixer.dist.php
Labels: php

fix: Remove unnecessary whitespace in configuration file (#381)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.7
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.7 (#382)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Fix deployment status comment formatting and conditions
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Fix deployment status comment formatting and conditions (#384)
  .github/workflows/deploy.yml
Labels: workflow

fix: Add PHP Coding Standards fixer configuration comment
  .php-cs-fixer.dist.php
Labels: php

fix: Add PHP Coding Standards fixer configuration comment (#385)
  .php-cs-fixer.dist.php
Labels: php

chore(main): magenxcloud 24.0.1-alpha.8
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1-alpha.8 (#386)
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(main): magenxcloud 24.0.1
  .github/release/manifest.json
  .github/release/prerelease-manifest.json
  CHANGELOG.md
Labels: workflow, json

chore(workflow): Enable role-skip-session-tagging in deploy workflow
  .github/workflows/deploy.yml
Labels: workflow

chore(workflow): Enable role-skip-session-tagging in deploy workflow (#388)
  .github/workflows/deploy.yml
Labels: workflow

fix: Remove unnecessary blank line in config file
  .php-cs-fixer.dist.php
Labels: php

fix: Remove unnecessary blank line in config file (#389)
  .php-cs-fixer.dist.php
Labels: php

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**'

module:
- changed-files:
  - any-glob-to-any-file: 
    - 'app/code/**'
    - 'composer.json'
    - 'composer.lock'

theme:
- changed-files:
  - any-glob-to-any-file: 'app/design/**'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

css:
- changed-files:
  - any-glob-to-any-file: '**/*.css'

less:
- changed-files:
  - any-glob-to-any-file: '**/*.less'

xml:
- changed-files:
  - any-glob-to-any-file: '**/*.xml'

csv:
- changed-files:
  - any-glob-to-any-file: '**/*.csv'

json:
- changed-files:
  - any-glob-to-any-file: '**/*.json'

phtml:
- changed-files:
  - any-glob-to-any-file: '**/*.phtml'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

config.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/config.php'

env.php:
- changed-files:
  - any-glob-to-any-file: 'app/etc/env.php'

di.xml:
- changed-files:
  - any-glob-to-any-file: 'app/etc/di.xml'
  
developer:
 - base-branch: 'main'

release:
 - base-branch: 'release'
